@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Logging</h1>
    @if (Model.Products.Count > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.Products) {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else 
    {
        <p>There are no products to show...</p>
    }
    <p>Learn about logging in ASP.NET Core.</p>
</div>
